{% extends 'habits/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Add a New Habit</h2>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            {{ form.frequency.label_tag }}
            {{ form.frequency|add_class:"form-select" }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Add Habit</button>
    </form>
</div>
{% endblock %}
